    <div class="container form--style">
      <div class="row">
        <div class="col">
          <div class="form--style__heading">
            {{"PersonalInformationForm.FullName" | translate}}
          </div>
          
          <form [formGroup]="personalInformationForm">
            <div class="row ">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="firstName">
                        {{"PersonalInformationForm.FirstName" | translate}}
                        <span class="required">*</span>
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <input class="form-control" formControlName="firstName" type="text" 
                      [ngClass]="{'is-invalid': f.firstName.errors && (f.firstName.dirty || f.firstName.touched)}"/>
                      <div *ngIf="f.firstName.errors && (f.firstName.dirty || f.firstName.touched)">
                        <div *ngIf="f.firstName.errors && (f.firstName.dirty || f.firstName.touched)">
                          {{"PersonalInformationValidation.firstName" | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="secondName">
                        {{"PersonalInformationForm.SecondName" | translate}}
                        <span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input class="form-control" formControlName="secondName" type="text"
                        [ngClass]="{'is-invalid': f.secondName.errors && (f.secondName.dirty || f.secondName.touched)}"/>
                      <div *ngIf="f.secondName.errors && (f.secondName.dirty || f.secondName.touched)">
                        <div *ngIf="f.secondName.errors && (f.secondName.dirty || f.secondName.touched)">
                          {{"PersonalInformationValidation.secondName" | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="thirdName">
                        {{"PersonalInformationForm.ThirdName" | translate}}
                        <span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input class="form-control" formControlName="thirdName" type="text"
                        [ngClass]="{'is-invalid': f.thirdName.errors && (f.thirdName.dirty || f.thirdName.touched)}"/>
                      <div *ngIf="f.thirdName.errors && (f.thirdName.dirty || f.thirdName.touched)">
                        <div *ngIf="f.thirdName.errors && (f.thirdName.dirty || f.thirdName.touched)">
                          {{"PersonalInformationValidation.thirdName" | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="fourthName">
                        {{"PersonalInformationForm.FourthName" | translate}}
                        <span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input formControlName="fourthName" type="text" class="form-control"
                        [ngClass]="{'is-invalid': f.fourthName.errors && (f.fourthName.dirty || f.fourthName.touched)}"/>
                      <div *ngIf="f.fourthName.errors && (f.fourthName.dirty || f.fourthName.touched)">
                        <div *ngIf="f.fourthName.errors && (f.fourthName.dirty || f.fourthName.touched)">
                          {{"PersonalInformationValidation.fourthName" | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for=" lastName">
                        {{"PersonalInformationForm.LastName" | translate}}
                        <span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input formControlName="lastName" type="text" class="form-control"
                        [ngClass]="{'is-invalid': f.lastName.errors && (f.lastName.dirty || f.lastName.touched)}"/>
                      <div *ngIf="f.lastName.errors && (f.lastName.dirty || f.lastName.touched)">
                        <div *ngIf="f.lastName.errors && (f.lastName.dirty || f.lastName.touched)">
                          {{"PersonalInformationValidation.lastName" | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form--style__heading">
                  {{"PersonalInformationForm.OtherInfo" | translate}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="title">
                        {{"PersonalInformationForm.Title" | translate}}
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <input class="form-control" formControlName="title" type="text">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="gender">
                        {{"PersonalInformationForm.Gender" | translate}}
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <input class="form-control" formControlName="gender" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="nationality">
                        {{"PersonalInformationForm.Nationality" | translate}}
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <select formControlName="nationality" class="form-control"
                        [ngClass]="{'is-invalid': f.nationality.errors && (f.nationality.dirty || f.nationality.touched)}">
                        <option *ngFor="let country of Countries">
                          {{country}}
                        </option>
                      </select>
                      <div *ngIf="f.nationality.errors && (f.nationality.dirty || f.nationality.touched)">
                        <div *ngIf="f.nationality.errors && (f.nationality.dirty || f.nationality.touched)">
                          {{"PersonalInformationValidation.nationality" | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
