@import "../../../../variables.scss";
:host{
    width: 100%;
}
.form--style {
    margin-block-start: 1.25rem;
    margin-block-end: 1.25rem;
    &__heading{
        font: {
            size: 1rem;
            
        }
        color: $dark-gray;
        border-bottom: 0.1rem solid $light-gray;
        margin-block-end: 2rem;
        padding-block-end: 1rem;
        text-align: start;
    }
    .required{
        color: red;
    }
    input {
        // border: none;
        // border-bottom: 0.1rem solid $light-gray;
        border: 0.1rem solid $light-gray;
        border-radius: 0.25rem;
        padding-inline-start: 0.1rem;
        outline: none;
        &:focus {
            border: 0.1rem solid $main-color;
        }
    }
            label {
                color: $dark-gray;
                padding-inline-start: 3rem;
            }

}