    <div class="container form--style">
      <div class="row">
        <div class="col">
          <div class="form--style__heading">
            FULL NAME
          </div>
          <form>
            <div class="row ">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="firstName">First name<span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input id="firstName" formControlName="firstName" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="secondName">Second name<span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input id="secondName" formControlName="secondName" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="thirdName">Third name<span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input id="thirdName" formControlName="thirdName" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="fourthName">Fourth name<span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input id="fourthName" formControlName="fourthName" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for=" lastName">Last name<span class="required">*</span></label>
                    </div>
                    <div class="col-sm-4">
                      <input id=" lastName" formControlName=" lastName" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <div class="form--style__heading">
                      OTHER INFO
                  </div>
            </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="title">Title</label>
                    </div>
                    <div class="col-sm-4">
                      <input id="title" formControlName="title" type="text">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="gender"> Gender</label>
                    </div>
                    <div class="col-sm-4">
                      <input id="gender" formControlName="gender" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="row justify-content-center">
                    <div class="col-sm-5">
                      <label for="nationality">Nationality</label>
                    </div>
                    <div class="col-sm-4">
                      <input id="nationality" formControlName="nationality" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
