
<header>
    <div class="view intro-2">
      <div class="full-bg-img">
        <div class="mask rgba-purple-light flex-center">
          <div class=" header__content white-text fadeInUp">
            <div class="header__content__form">
              <router-outlet></router-outlet>
            </div>
            <div class="header__content__text">
              <p>
              You alredy have account?<a routerLink="login">Sign in</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
