<div class="card container">
    <div class=" container">
      <div class="col-sm">
        <form>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                  <h3>{{"CountryForm.Title" | translate}}</h3>
                <div class="form-group">
                  <label for="countryName">{{"CountryForm.CountryName" | translate}}</label>
                  <input id="countryName" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                  <label for="capital">{{"CountryForm.Capital" | translate}}</label>
                  <input  id="capital" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                  <label for="continent">{{"CountryForm.Continent" | translate}}</label>
                  <input  id="continent" type="text" class="form-control">
                </div>
                
              <div class="form-group">
                  <label for="language">{{"CountryForm.Language" | translate}}</label>
                  <input  id="language" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                  <label for="currencyCode">{{"CountryForm.CurrencyCode" | translate}}</label>
                  <input  id="currencyCode" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                  <label for="countryArea">{{"CountryForm.CountryArea" | translate}}</label>
                  <input id="countryArea" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                  <label for="phoneCode">{{"CountryForm.PhoneCode" | translate}}</label>
                  <input id="phoneCode" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="mesuringSystem">{{"CountryForm.MesuringSystem" | translate}}</label>
                  <input id="mesuringSystem" type="text" class="form-control">
                </div>


                

              </div>
            </div>
          </div>
        </form>
    
      </div>
    
    </div>
</div>
